@{
    ViewData["Title"] = "NPI";
}
<h3>NPI Number Lookup</h3>
<br />
<h4>Free National NPI Number Registry</h4>
<br />
<br />
<br />
<form asp-controller="NPI"  asp-action="Search" id="frm" data-parsley-validate class="form-horizontal form-label-left" method="post" enctype="multipart/form-data">
    <div style="width:800px">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Last Name or Entity </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="text" name="LastName_E" id="LastName_E" value="" class="form-control col-md-10" autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">First Name</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="text" name="FirstName" id="FirstName" value="" class="form-control col-md-10" autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">State </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <select name="State" id="State" class="select2_single form-control"  autocomplete="off">
                    <option>All States</option>
                    <option value="(CO)">(CO)</option>
                    <option value="(NOT APPLICABLE)">(NOT APPLICABLE)</option>
                    <option value="-">-</option>
                    <option value="--- SELECCIONAR ---">--- SELECCIONAR ---</option>
                    <option value="--- SELECT ---">--- SELECT ---</option>
                    <option value="_">_</option>
                    <option value="0">0</option>
                    <option value="00000">00000</option>
                    <option value="09180">09180</option>
                    <option value="1">1</option>
                    <option value="11414">11414</option>
                    <option value="163 EPIFANIO DELOS SANTOS AVE ">163 EPIFANIO DELOS SANTOS AVE </option>
                    <option value="6370">6370</option>
                    <option value="65433">65433</option>
                    <option value="70184">70184</option>
                    <option value="90731">90731</option>
                    <option value="99999">99999</option>
                    <option value="A E ">A E </option>
                    <option value="A P ">A P </option>
                    <option value="A P">A P</option>
                    <option value="AA">AA</option>
                    <option value="AB">AB</option>
                    <option value="ABU DHABI">ABU DHABI</option>
                    <option value="AC">AC</option>
                    <option value="ADDIA ABABA">ADDIA ABABA</option>
                    <option value="ADDIS ABABA">ADDIS ABABA</option>
                    <option value="AE">AE</option>
                    <option value="AF">AF</option>
                    <option value="AJK">AJK</option>
                    <option value="AK">AK</option>
                    <option value="AKERSHUS">AKERSHUS</option>
                    <option value="AKITA-KEN">AKITA-KEN</option>
                    <option value="AKTOBE OBLAST">AKTOBE OBLAST</option>
                    <option value="AL">AL</option>
                    <option value="ALAJUELA">ALAJUELA</option>
                    <option value="ALASKA">ALASKA</option>
                    <option value="ALBANIA">ALBANIA</option>
                    <option value="ALBERTA">ALBERTA</option>
                    <option value="ALEXANDRIA">ALEXANDRIA</option>
                    <option value="ALQASSIM">ALQASSIM</option>
                    <option value="ALVARO OBREGON">ALVARO OBREGON</option>
                    <option value="AMERICA">AMERICA</option>
                    <option value="AMERICAN SAMOA">AMERICAN SAMOA</option>
                    <option value="AMERICAN">AMERICAN</option>
                    <option value="AMHARA">AMHARA</option>
                    <option value="AMMAN">AMMAN</option>
                    <option value="AMSTERDAM">AMSTERDAM</option>
                    <option value="ANCONA">ANCONA</option>
                    <option value="ANDHRA PRADESH">ANDHRA PRADESH</option>
                    <option value="ANDHRAPRADESH">ANDHRAPRADESH</option>
                    <option value="ANKARA">ANKARA</option>
                    <option value="ANTIOQUIA">ANTIOQUIA</option>
                    <option value="AO">AO</option>
                    <option value="AP">AP</option>
                    <option value="APO   AE">APO   AE</option>
                    <option value="APO  AE">APO  AE</option>
                    <option value="APO  AP">APO  AP</option>
                    <option value="APO AE">APO AE</option>
                    <option value="APO AP">APO AP</option>
                    <option value="APO EUROPE">APO EUROPE</option>
                    <option value="APO">APO</option>
                    <option value="APURIMAC">APURIMAC</option>
                    <option value="AR">AR</option>
                    <option value="AR-RIYAD">AR-RIYAD</option>
                    <option value="ARAMCO">ARAMCO</option>
                    <option value="ARECIBO">ARECIBO</option>
                    <option value="ARGENTINA">ARGENTINA</option>
                    <option value="ARIZONA">ARIZONA</option>
                    <option value="ARKANSAS">ARKANSAS</option>
                    <option value="ARMED FORCES PACIFIC">ARMED FORCES PACIFIC</option>
                    <option value="AS">AS</option>
                    <option value="ATHENS">ATHENS</option>
                    <option value="ATTICA">ATTICA</option>
                    <option value="ATTIKI">ATTIKI</option>
                    <option value="AU">AU</option>
                    <option value="AUCKLAND">AUCKLAND</option>
                    <option value="AVIANO AB">AVIANO AB</option>
                    <option value="AZ">AZ</option>
                    <option value="B C ">B C </option>
                    <option value="BAABDA">BAABDA</option>
                    <option value="BADEN WUERTEMBOURG">BADEN WUERTEMBOURG</option>
                    <option value="BADEN WUERTTEMBERG">BADEN WUERTTEMBERG</option>
                    <option value="BADEN WURTEMBERG">BADEN WURTEMBERG</option>
                    <option value="BADEN WURTEMBOURG">BADEN WURTEMBOURG</option>
                    <option value="BADEN WURTEMBURG">BADEN WURTEMBURG</option>
                    <option value="BADEN WURTENBERG">BADEN WURTENBERG</option>
                    <option value="BADEN WURTTENBURG">BADEN WURTTENBURG</option>
                    <option value="BADEN-WUERTEMBERG">BADEN-WUERTEMBERG</option>
                    <option value="BADEN-WUERTTEMBERG">BADEN-WUERTTEMBERG</option>
                    <option value="BADEN-WURTEMBURG">BADEN-WURTEMBURG</option>
                    <option value="BADEN-WURTTEMBERG">BADEN-WURTTEMBERG</option>
                    <option value="BADEN-WURTTEMBURG">BADEN-WURTTEMBURG</option>
                    <option value="BAHRAIN">BAHRAIN</option>
                    <option value="BAJA CALIFORNIA">BAJA CALIFORNIA</option>
                    <option value="BALAJI ARCADE">BALAJI ARCADE</option>
                    <option value="BAMENDA">BAMENDA</option>
                    <option value="BANGKOK">BANGKOK</option>
                    <option value="BAPATLA">BAPATLA</option>
                    <option value="BARCELONA">BARCELONA</option>
                    <option value="BASEL LAND">BASEL LAND</option>
                    <option value="BATANGAS">BATANGAS</option>
                    <option value="BAVARIA">BAVARIA</option>
                    <option value="BAYERN">BAYERN</option>
                    <option value="BAYET VEGAN">BAYET VEGAN</option>
                    <option value="BC - BRITISH COLUMBIA">BC - BRITISH COLUMBIA</option>
                    <option value="BC">BC</option>
                    <option value="BE">BE</option>
                    <option value="BEIJING">BEIJING</option>
                    <option value="BEIRUT">BEIRUT</option>
                    <option value="BELGIUM">BELGIUM</option>
                    <option value="BELGRADE">BELGRADE</option>
                    <option value="BELLA VISTA">BELLA VISTA</option>
                    <option value="BENGUET">BENGUET</option>
                    <option value="BERBICE">BERBICE</option>
                    <option value="BERKSHIRE">BERKSHIRE</option>
                    <option value="BERLIN">BERLIN</option>
                    <option value="BERMUDA">BERMUDA</option>
                    <option value="BIHAR">BIHAR</option>
                    <option value="BO">BO</option>
                    <option value="BOGOTA">BOGOTA</option>
                    <option value="BOLOGNA">BOLOGNA</option>
                    <option value="BOURGOGNE">BOURGOGNE</option>
                    <option value="BOX 162">BOX 162</option>
                    <option value="BOX 283">BOX 283</option>
                    <option value="BRABANT FLAMAND">BRABANT FLAMAND</option>
                    <option value="BRAZIL">BRAZIL</option>
                    <option value="BRITISH CLUMBIA">BRITISH CLUMBIA</option>
                    <option value="BRITISH COLUMBIA (BC)">BRITISH COLUMBIA (BC)</option>
                    <option value="BRITISH COLUMBIA">BRITISH COLUMBIA</option>
                    <option value="BRITISH INDIAN OCEAN TERRITORY">BRITISH INDIAN OCEAN TERRITORY</option>
                    <option value="BRITISH INDIAN OCEAN TERRITY">BRITISH INDIAN OCEAN TERRITY</option>
                    <option value="BS">BS</option>
                    <option value="BUENGKUM">BUENGKUM</option>
                    <option value="BUENOS AIRES CITY">BUENOS AIRES CITY</option>
                    <option value="BUENOS AIRES PROVINCE">BUENOS AIRES PROVINCE</option>
                    <option value="BUENOS AIRES">BUENOS AIRES</option>
                    <option value="BUFFALO">BUFFALO</option>
                    <option value="BULACAN">BULACAN</option>
                    <option value="BULIHAN BULACAN">BULIHAN BULACAN</option>
                    <option value="BW">BW</option>
                    <option value="C">C</option>
                    <option value="CA">CA</option>
                    <option value="CA- CALIFORNIA">CA- CALIFORNIA</option>
                    <option value="CADIZ">CADIZ</option>
                    <option value="CAESAREA">CAESAREA</option>
                    <option value="CAGAYAN VALLEY">CAGAYAN VALLEY</option>
                    <option value="CAIRO">CAIRO</option>
                    <option value="CALIFORNIA">CALIFORNIA</option>
                    <option value="CAMBRIDGESHIRE">CAMBRIDGESHIRE</option>
                    <option value="CAMBS">CAMBS</option>
                    <option value="CAMPAGNA">CAMPAGNA</option>
                    <option value="CAMPANIA">CAMPANIA</option>
                    <option value="CANADA">CANADA</option>
                    <option value="CAPE TOWN">CAPE TOWN</option>
                    <option value="CAPITAL">CAPITAL</option>
                    <option value="CASERTA">CASERTA</option>
                    <option value="CAVITE">CAVITE</option>
                    <option value="CAYMAN ISLANDS">CAYMAN ISLANDS</option>
                    <option value="CE">CE</option>
                    <option value="CEBU">CEBU</option>
                    <option value="CENTER">CENTER</option>
                    <option value="CENTRAL ISRAEL">CENTRAL ISRAEL</option>
                    <option value="CENTRAL REGION">CENTRAL REGION</option>
                    <option value="CENTRAL">CENTRAL</option>
                    <option value="CERCADO">CERCADO</option>
                    <option value="CHAING MAI">CHAING MAI</option>
                    <option value="CHANDIGARH">CHANDIGARH</option>
                    <option value="CHAO YANG DISTRICT">CHAO YANG DISTRICT</option>
                    <option value="CHATHAM">CHATHAM</option>
                    <option value="CHIA-YI">CHIA-YI</option>
                    <option value="CHIANG MAI">CHIANG MAI</option>
                    <option value="CHIBA">CHIBA</option>
                    <option value="CHIHUAHUA">CHIHUAHUA</option>
                    <option value="CHILE">CHILE</option>
                    <option value="CHOOSE">CHOOSE</option>
                    <option value="CHUNG SHAN PROVIDENCE">CHUNG SHAN PROVIDENCE</option>
                    <option value="CHWARBAKH">CHWARBAKH</option>
                    <option value="CLARK">CLARK</option>
                    <option value="CN">CN</option>
                    <option value="CO  DOWN">CO  DOWN</option>
                    <option value="CO  DUBLIN">CO  DUBLIN</option>
                    <option value="CO  WICKLOW">CO  WICKLOW</option>
                    <option value="CO DUBLIN">CO DUBLIN</option>
                    <option value="CO GALWAY">CO GALWAY</option>
                    <option value="CO">CO</option>
                    <option value="COAHUILA">COAHUILA</option>
                    <option value="COLORADO">COLORADO</option>
                    <option value="CONNAUGHT">CONNAUGHT</option>
                    <option value="CONTRA COSTA COUNTY">CONTRA COSTA COUNTY</option>
                    <option value="CORDOBA">CORDOBA</option>
                    <option value="CORK">CORK</option>
                    <option value="COUNTY CORK">COUNTY CORK</option>
                    <option value="COUNTY KERRY">COUNTY KERRY</option>
                    <option value="COUNTY LIMERICK">COUNTY LIMERICK</option>
                    <option value="COUNTY MEATH">COUNTY MEATH</option>
                    <option value="CRETE">CRETE</option>
                    <option value="CT">CT</option>
                    <option value="CUAJIMALPA">CUAJIMALPA</option>
                    <option value="CUNDINAMARCA">CUNDINAMARCA</option>
                    <option value="CUTLER BAY">CUTLER BAY</option>
                    <option value="CZECH REPUBLIC">CZECH REPUBLIC</option>
                    <option value="D F ">D F </option>
                    <option value="DACCA">DACCA</option>
                    <option value="DAKAHLEYA">DAKAHLEYA</option>
                    <option value="DAVAO DEL SUR">DAVAO DEL SUR</option>
                    <option value="DC">DC</option>
                    <option value="DE">DE</option>
                    <option value="DELAWARE">DELAWARE</option>
                    <option value="DELHI">DELHI</option>
                    <option value="DELMAS">DELMAS</option>
                    <option value="DEMERARA">DEMERARA</option>
                    <option value="DETOIT">DETOIT</option>
                    <option value="DEVONSHIRE">DEVONSHIRE</option>
                    <option value="DF">DF</option>
                    <option value="DHAHRAN">DHAHRAN</option>
                    <option value="DHAKA">DHAKA</option>
                    <option value="DHCC">DHCC</option>
                    <option value="DISTRITO FEDERAL">DISTRITO FEDERAL</option>
                    <option value="DISTRITO NACIONAL">DISTRITO NACIONAL</option>
                    <option value="DN SHIMSHON">DN SHIMSHON</option>
                    <option value="DOHA">DOHA</option>
                    <option value="DOM REP">DOM REP</option>
                    <option value="DUBAI">DUBAI</option>
                    <option value="DUBLIN">DUBLIN</option>
                    <option value="EAST ANGLIA">EAST ANGLIA</option>
                    <option value="EASTERN PROVINCE">EASTERN PROVINCE</option>
                    <option value="EASTERN">EASTERN</option>
                    <option value="ECUADOR">ECUADOR</option>
                    <option value="EGE BOLGESI">EGE BOLGESI</option>
                    <option value="EHP">EHP</option>
                    <option value="ENGLAND">ENGLAND</option>
                    <option value="ES">ES</option>
                    <option value="ESTADO DE MEXICO">ESTADO DE MEXICO</option>
                    <option value="EUROPE">EUROPE</option>
                    <option value="EUROVILLAGE COMPOUND  AL KHOBAR  EASTERN">EUROVILLAGE COMPOUND  AL KHOBAR  EASTERN</option>
                    <option value="FE">FE</option>
                    <option value="FEDERAL CAPITAL">FEDERAL CAPITAL</option>
                    <option value="FI">FI</option>
                    <option value="FL - FLORIDA">FL - FLORIDA</option>
                    <option value="FL">FL</option>
                    <option value="FLA">FLA</option>
                    <option value="FLORIDA">FLORIDA</option>
                    <option value="FM">FM</option>
                    <option value="FOREIGN PROVINCE">FOREIGN PROVINCE</option>
                    <option value="FOREIGN">FOREIGN</option>
                    <option value="FOREST HILLS">FOREST HILLS</option>
                    <option value="FP">FP</option>
                    <option value="FPO AE">FPO AE</option>
                    <option value="FPO AP">FPO AP</option>
                    <option value="FPO">FPO</option>
                    <option value="FRANCE">FRANCE</option>
                    <option value="FREDRIKSTAD">FREDRIKSTAD</option>
                    <option value="FSM">FSM</option>
                    <option value="FUJIAN">FUJIAN</option>
                    <option value="FUKUOKA">FUKUOKA</option>
                    <option value="GA">GA</option>
                    <option value="GALWAY">GALWAY</option>
                    <option value="GANGNAMKU">GANGNAMKU</option>
                    <option value="GARABITL">GARABITL</option>
                    <option value="GAS">GAS</option>
                    <option value="GAUTENG">GAUTENG</option>
                    <option value="GB">GB</option>
                    <option value="GE">GE</option>
                    <option value="GEB 3377  66849 LANDSTUHL  GERMANY">GEB 3377  66849 LANDSTUHL  GERMANY</option>
                    <option value="GENEVA">GENEVA</option>
                    <option value="GENEVE">GENEVE</option>
                    <option value="GENTOFTE">GENTOFTE</option>
                    <option value="GEORGIA">GEORGIA</option>
                    <option value="GERMANY">GERMANY</option>
                    <option value="GHANA">GHANA</option>
                    <option value="GHARBEYA">GHARBEYA</option>
                    <option value="GIRONDE">GIRONDE</option>
                    <option value="GOA">GOA</option>
                    <option value="GONDAR">GONDAR</option>
                    <option value="GRAND BAHAMA">GRAND BAHAMA</option>
                    <option value="GRAND CAYMAN">GRAND CAYMAN</option>
                    <option value="GREAT BRITAIN">GREAT BRITAIN</option>
                    <option value="GREATER BEIRUT">GREATER BEIRUT</option>
                    <option value="GREATER LONDON">GREATER LONDON</option>
                    <option value="GREECE">GREECE</option>
                    <option value="GRO">GRO</option>
                    <option value="GROSSETO">GROSSETO</option>
                    <option value="GTO ">GTO </option>
                    <option value="GU">GU</option>
                    <option value="GUAM">GUAM</option>
                    <option value="GUANACASTE">GUANACASTE</option>
                    <option value="GUATEMALA">GUATEMALA</option>
                    <option value="GUAYAS">GUAYAS</option>
                    <option value="GUJARAT">GUJARAT</option>
                    <option value="GULMI">GULMI</option>
                    <option value="GULSHAN">GULSHAN</option>
                    <option value="GUSH ETZION">GUSH ETZION</option>
                    <option value="GWYNEDD">GWYNEDD</option>
                    <option value="GYEONGGI DO">GYEONGGI DO</option>
                    <option value="GYEONGGI-DO">GYEONGGI-DO</option>
                    <option value="GYUNGGI DO">GYUNGGI DO</option>
                    <option value="HAIFA">HAIFA</option>
                    <option value="HAMBURG">HAMBURG</option>
                    <option value="HAMERCAZ">HAMERCAZ</option>
                    <option value="HAMILTON">HAMILTON</option>
                    <option value="HAMPSHIRE">HAMPSHIRE</option>
                    <option value="HANUIT">HANUIT</option>
                    <option value="HARROGATE">HARROGATE</option>
                    <option value="HARYANA">HARYANA</option>
                    <option value="HAUTE-GARONNE">HAUTE-GARONNE</option>
                    <option value="HAWAII">HAWAII</option>
                    <option value="HAWKES BAY">HAWKES BAY</option>
                    <option value="HESSEN">HESSEN</option>
                    <option value="HI">HI</option>
                    <option value="HIDALGO COUNTY">HIDALGO COUNTY</option>
                    <option value="HIROSHIMA">HIROSHIMA</option>
                    <option value="HOD HASHARON">HOD HASHARON</option>
                    <option value="HOKKAIDO">HOKKAIDO</option>
                    <option value="HONG KONG">HONG KONG</option>
                    <option value="HONSHU">HONSHU</option>
                    <option value="HUIXQUILUCAN">HUIXQUILUCAN</option>
                    <option value="HUNAN">HUNAN</option>
                    <option value="HUNGARY">HUNGARY</option>
                    <option value="IA">IA</option>
                    <option value="IBARAKI KEN">IBARAKI KEN</option>
                    <option value="ICELAND">ICELAND</option>
                    <option value="ID">ID</option>
                    <option value="IDAHO">IDAHO</option>
                    <option value="IDF">IDF</option>
                    <option value="IFANADIANA">IFANADIANA</option>
                    <option value="IL - ILLINOIS">IL - ILLINOIS</option>
                    <option value="IL">IL</option>
                    <option value="ILE DE FRANCE">ILE DE FRANCE</option>
                    <option value="ILE-DE-FRANCE">ILE-DE-FRANCE</option>
                    <option value="ILLINOIS">ILLINOIS</option>
                    <option value="ILLINOIX">ILLINOIX</option>
                    <option value="ILOILO">ILOILO</option>
                    <option value="IN">IN</option>
                    <option value="INDIA">INDIA</option>
                    <option value="INDIANA">INDIANA</option>
                    <option value="INTERNATIONAL ZONE">INTERNATIONAL ZONE</option>
                    <option value="INTERNATIONAL">INTERNATIONAL</option>
                    <option value="IRAQ">IRAQ</option>
                    <option value="IRELAND">IRELAND</option>
                    <option value="ISHIKAWA">ISHIKAWA</option>
                    <option value="ISRAEL">ISRAEL</option>
                    <option value="ISTANBUL">ISTANBUL</option>
                    <option value="ITALY">ITALY</option>
                    <option value="IWAKUNI">IWAKUNI</option>
                    <option value="IWATE">IWATE</option>
                    <option value="JALISCO">JALISCO</option>
                    <option value="JAMAICA">JAMAICA</option>
                    <option value="JAMMU & KASHMIR">JAMMU & KASHMIR</option>
                    <option value="JAPAN">JAPAN</option>
                    <option value="JAWA TIMUR (EAST JAVA)">JAWA TIMUR (EAST JAVA)</option>
                    <option value="JEDDAH">JEDDAH</option>
                    <option value="JERUSALEM">JERUSALEM</option>
                    <option value="JOHOR">JOHOR</option>
                    <option value="JORDAN">JORDAN</option>
                    <option value="JP">JP</option>
                    <option value="JUNGRANG-GU">JUNGRANG-GU</option>
                    <option value="KADENA AB">KADENA AB</option>
                    <option value="KADENA AFB">KADENA AFB</option>
                    <option value="KAISERSLAUTERN">KAISERSLAUTERN</option>
                    <option value="KANAGAWA">KANAGAWA</option>
                    <option value="KANSAS">KANSAS</option>
                    <option value="KAOHSIUNG">KAOHSIUNG</option>
                    <option value="KARNATAKA">KARNATAKA</option>
                    <option value="KASHMIR">KASHMIR</option>
                    <option value="KATHMANDU">KATHMANDU</option>
                    <option value="KAVANGO REGION">KAVANGO REGION</option>
                    <option value="KENTUCKY">KENTUCKY</option>
                    <option value="KERALA">KERALA</option>
                    <option value="KESSROUAN">KESSROUAN</option>
                    <option value="KHAO DANG">KHAO DANG</option>
                    <option value="KHASHM ALAAN">KHASHM ALAAN</option>
                    <option value="KHYBER PAKHTUNKHWA">KHYBER PAKHTUNKHWA</option>
                    <option value="KILKENNY">KILKENNY</option>
                    <option value="KINGSTON">KINGSTON</option>
                    <option value="KITCHENER">KITCHENER</option>
                    <option value="KOREA">KOREA</option>
                    <option value="KPH">KPH</option>
                    <option value="KR">KR</option>
                    <option value="KRASNODAR REGION">KRASNODAR REGION</option>
                    <option value="KS">KS</option>
                    <option value="KUOPIO">KUOPIO</option>
                    <option value="KUWAIT CITY">KUWAIT CITY</option>
                    <option value="KUWAIT">KUWAIT</option>
                    <option value="KY">KY</option>
                    <option value="KYONG KI DO">KYONG KI DO</option>
                    <option value="KYOTO">KYOTO</option>
                    <option value="KYOUNGKI DO">KYOUNGKI DO</option>
                    <option value="KYUNGKIDO">KYUNGKIDO</option>
                    <option value="LA LIBERTAD">LA LIBERTAD</option>
                    <option value="LA SPEZIA">LA SPEZIA</option>
                    <option value="LA UNION">LA UNION</option>
                    <option value="LA">LA</option>
                    <option value="LAGOS">LAGOS</option>
                    <option value="LAGUNA">LAGUNA</option>
                    <option value="LAKE">LAKE</option>
                    <option value="LALITPUR">LALITPUR</option>
                    <option value="LAMBETH">LAMBETH</option>
                    <option value="LANCASHIRE">LANCASHIRE</option>
                    <option value="LANDSTIHL">LANDSTIHL</option>
                    <option value="LANDSTUHL">LANDSTUHL</option>
                    <option value="LAS TUNAS">LAS TUNAS</option>
                    <option value="LAZIO">LAZIO</option>
                    <option value="LEBANON">LEBANON</option>
                    <option value="LEFKADOS">LEFKADOS</option>
                    <option value="LEINSTER">LEINSTER</option>
                    <option value="LESSER POLAND">LESSER POLAND</option>
                    <option value="LIMA">LIMA</option>
                    <option value="LIMBURG">LIMBURG</option>
                    <option value="LONDON">LONDON</option>
                    <option value="LONGFORD">LONGFORD</option>
                    <option value="LOS ANGELES">LOS ANGELES</option>
                    <option value="LOUISIANA">LOUISIANA</option>
                    <option value="LOWER SHABELLE">LOWER SHABELLE</option>
                    <option value="LUCCA">LUCCA</option>
                    <option value="M D C ">M D C </option>
                    <option value="MA">MA</option>
                    <option value="MA- MASSACHUSETTS">MA- MASSACHUSETTS</option>
                    <option value="MACAO">MACAO</option>
                    <option value="MACCA">MACCA</option>
                    <option value="MADRID">MADRID</option>
                    <option value="MAHARASHTRA">MAHARASHTRA</option>
                    <option value="MAHARASTRA">MAHARASTRA</option>
                    <option value="MAKKAH">MAKKAH</option>
                    <option value="MALOPOLSKA">MALOPOLSKA</option>
                    <option value="MANAMA">MANAMA</option>
                    <option value="MANCHESTER">MANCHESTER</option>
                    <option value="MANILA">MANILA</option>
                    <option value="MANITOBA">MANITOBA</option>
                    <option value="MARYLAND">MARYLAND</option>
                    <option value="MASSACHUSETTS (MA)">MASSACHUSETTS (MA)</option>
                    <option value="MASSACHUSETTS">MASSACHUSETTS</option>
                    <option value="MB">MB</option>
                    <option value="MD - MARYLAND">MD - MARYLAND</option>
                    <option value="MD">MD</option>
                    <option value="ME">ME</option>
                    <option value="MECHI">MECHI</option>
                    <option value="MEDINA">MEDINA</option>
                    <option value="MERCAZ">MERCAZ</option>
                    <option value="MERKAZ">MERKAZ</option>
                    <option value="METRO MANILA">METRO MANILA</option>
                    <option value="METROMANILA">METROMANILA</option>
                    <option value="MEXICALI">MEXICALI</option>
                    <option value="MEXICO">MEXICO</option>
                    <option value="MH">MH</option>
                    <option value="MI - MICHIGAN">MI - MICHIGAN</option>
                    <option value="MI">MI</option>
                    <option value="MIAMI">MIAMI</option>
                    <option value="MICHIGAN">MICHIGAN</option>
                    <option value="MIDDLE EAST">MIDDLE EAST</option>
                    <option value="MIDDLESEX">MIDDLESEX</option>
                    <option value="MIE">MIE</option>
                    <option value="MINAS GERAIS">MINAS GERAIS</option>
                    <option value="MINNESOTA">MINNESOTA</option>
                    <option value="MIRANDA">MIRANDA</option>
                    <option value="MISSISSIPPI">MISSISSIPPI</option>
                    <option value="MISSOURI">MISSOURI</option>
                    <option value="MISURATA">MISURATA</option>
                    <option value="MN">MN</option>
                    <option value="MO">MO</option>
                    <option value="MONS">MONS</option>
                    <option value="MONTANA">MONTANA</option>
                    <option value="MONTSERRADO">MONTSERRADO</option>
                    <option value="MOSCOW OBLAST">MOSCOW OBLAST</option>
                    <option value="MOUNT LEBANON">MOUNT LEBANON</option>
                    <option value="MP">MP</option>
                    <option value="MS">MS</option>
                    <option value="MS- MISSISSIPPI">MS- MISSISSIPPI</option>
                    <option value="MT ">MT </option>
                    <option value="MT">MT</option>
                    <option value="MUSANZE">MUSANZE</option>
                    <option value="MUSCAT">MUSCAT</option>
                    <option value="MX">MX</option>
                    <option value="N A">N A</option>
                    <option value="N C ">N C </option>
                    <option value="N Y ">N Y </option>
                    <option value="NA">NA</option>
                    <option value="NAF ATSUGI">NAF ATSUGI</option>
                    <option value="NAIROBI">NAIROBI</option>
                    <option value="NAPLES">NAPLES</option>
                    <option value="NARA">NARA</option>
                    <option value="NASSAU">NASSAU</option>
                    <option value="NB">NB</option>
                    <option value="NC - NORTH CAROLINA">NC - NORTH CAROLINA</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="NE">NE</option>
                    <option value="NEBRASKA">NEBRASKA</option>
                    <option value="NEGISHI">NEGISHI</option>
                    <option value="NEJD">NEJD</option>
                    <option value="NEPAL">NEPAL</option>
                    <option value="NETHERLANDS">NETHERLANDS</option>
                    <option value="NEVADA">NEVADA</option>
                    <option value="NEW BRUNSWICK">NEW BRUNSWICK</option>
                    <option value="NEW HAMPSHIRE">NEW HAMPSHIRE</option>
                    <option value="NEW JERSEY">NEW JERSEY</option>
                    <option value="NEW MEXICO">NEW MEXICO</option>
                    <option value="NEW ORLEANS">NEW ORLEANS</option>
                    <option value="NEW PROVIDENCE">NEW PROVIDENCE</option>
                    <option value="NEW SOUTH WALES">NEW SOUTH WALES</option>
                    <option value="NEW TERRITORIES">NEW TERRITORIES</option>
                    <option value="NEW YORK">NEW YORK</option>
                    <option value="NEW ZEALAND">NEW ZEALAND</option>
                    <option value="NEW-BRUNSWICK">NEW-BRUNSWICK</option>
                    <option value="NEWFOUNDLAND AND LABRADOR">NEWFOUNDLAND AND LABRADOR</option>
                    <option value="NEWFOUNDLAND">NEWFOUNDLAND</option>
                    <option value="NF">NF</option>
                    <option value="NGOUNIE">NGOUNIE</option>
                    <option value="NH">NH</option>
                    <option value="NIEDERSACHSEN">NIEDERSACHSEN</option>
                    <option value="NJ - NEW JERSEY">NJ - NEW JERSEY</option>
                    <option value="NJ">NJ</option>
                    <option value="NL">NL</option>
                    <option value="NM">NM</option>
                    <option value="NONE">NONE</option>
                    <option value="NONTHABURI">NONTHABURI</option>
                    <option value="NOORD HOLLAND">NOORD HOLLAND</option>
                    <option value="NOORD-HOLLAND">NOORD-HOLLAND</option>
                    <option value="NORDRHEIN WESTFALEN">NORDRHEIN WESTFALEN</option>
                    <option value="NORTH CAROLINA (NC)">NORTH CAROLINA (NC)</option>
                    <option value="NORTH CAROLINA">NORTH CAROLINA</option>
                    <option value="NORTH HOLLAND">NORTH HOLLAND</option>
                    <option value="NORTH LEBANON">NORTH LEBANON</option>
                    <option value="NORTH SHORE">NORTH SHORE</option>
                    <option value="NORTH WEST REGION">NORTH WEST REGION</option>
                    <option value="NORTH YORKSHIRE">NORTH YORKSHIRE</option>
                    <option value="NORTHAMPTONSHIRE">NORTHAMPTONSHIRE</option>
                    <option value="NORTHERN GREECE">NORTHERN GREECE</option>
                    <option value="NOT APPLICABLE">NOT APPLICABLE</option>
                    <option value="NOT EXISTENT">NOT EXISTENT</option>
                    <option value="NOT LISTED">NOT LISTED</option>
                    <option value="NOTTINGHAMSHIRE">NOTTINGHAMSHIRE</option>
                    <option value="NOVA SCOTIA">NOVA SCOTIA</option>
                    <option value="NP">NP</option>
                    <option value="NRW">NRW</option>
                    <option value="NS">NS</option>
                    <option value="NSW">NSW</option>
                    <option value="NUEVO LEON">NUEVO LEON</option>
                    <option value="NV">NV</option>
                    <option value="NWFP">NWFP</option>
                    <option value="NY - NEW YORK">NY - NEW YORK</option>
                    <option value="NY">NY</option>
                    <option value="NZ">NZ</option>
                    <option value="OAXACA">OAXACA</option>
                    <option value="OBERPFALZ  BAYERN">OBERPFALZ  BAYERN</option>
                    <option value="ODESSA">ODESSA</option>
                    <option value="OH">OH</option>
                    <option value="OHIO (OH)">OHIO (OH)</option>
                    <option value="OHIO">OHIO</option>
                    <option value="OK">OK</option>
                    <option value="OKINAWA ">OKINAWA </option>
                    <option value="OKINAWA">OKINAWA</option>
                    <option value="OKLAHOMA (OK)">OKLAHOMA (OK)</option>
                    <option value="OKLAHOMA">OKLAHOMA</option>
                    <option value="OLD">OLD</option>
                    <option value="ON">ON</option>
                    <option value="ONT ">ONT </option>
                    <option value="ONT">ONT</option>
                    <option value="ONTARIO  CANADA">ONTARIO  CANADA</option>
                    <option value="ONTARIO">ONTARIO</option>
                    <option value="ONTATIO">ONTATIO</option>
                    <option value="OOOOOOOOOOOOO">OOOOOOOOOOOOO</option>
                    <option value="OR OREGON">OR OREGON</option>
                    <option value="OR">OR</option>
                    <option value="ORANGE">ORANGE</option>
                    <option value="OREGON">OREGON</option>
                    <option value="ORLEANS">ORLEANS</option>
                    <option value="OSAKA">OSAKA</option>
                    <option value="OSAN AB">OSAN AB</option>
                    <option value="OSUN">OSUN</option>
                    <option value="OTAGO">OTAGO</option>
                    <option value="OTHER">OTHER</option>
                    <option value="OUEST">OUEST</option>
                    <option value="OUTSIDE U S  CANADA">OUTSIDE U S  CANADA</option>
                    <option value="OUTSIDE US AND CANADA">OUTSIDE US AND CANADA</option>
                    <option value="OXFORDSHIRE">OXFORDSHIRE</option>
                    <option value="OXON">OXON</option>
                    <option value="P  R ">P  R </option>
                    <option value="P Q  (QUEBEC)">P Q  (QUEBEC)</option>
                    <option value="P R  PUERTO RICO">P R  PUERTO RICO</option>
                    <option value="P R ">P R </option>
                    <option value="P R">P R</option>
                    <option value="PA">PA</option>
                    <option value="PACAF">PACAF</option>
                    <option value="PACIFIC">PACIFIC</option>
                    <option value="PADOVA">PADOVA</option>
                    <option value="PAFOS">PAFOS</option>
                    <option value="PAKISTAN">PAKISTAN</option>
                    <option value="PAMPANGA">PAMPANGA</option>
                    <option value="PANAMA">PANAMA</option>
                    <option value="PANGASINAN">PANGASINAN</option>
                    <option value="PARANA">PARANA</option>
                    <option value="PASCO">PASCO</option>
                    <option value="PE">PE</option>
                    <option value="PENNSYLVANIA">PENNSYLVANIA</option>
                    <option value="PEOPLE REPLIC OF KOREA">PEOPLE REPLIC OF KOREA</option>
                    <option value="PEREZ ZELEDON  SAN ISIDRO">PEREZ ZELEDON  SAN ISIDRO</option>
                    <option value="PERUGIA">PERUGIA</option>
                    <option value="PETACH TIKVA">PETACH TIKVA</option>
                    <option value="PEUKA">PEUKA</option>
                    <option value="PH">PH</option>
                    <option value="PHILILIPPINES">PHILILIPPINES</option>
                    <option value="PHILIPPINES">PHILIPPINES</option>
                    <option value="PI">PI</option>
                    <option value="PICHINCHA">PICHINCHA</option>
                    <option value="PINGTUNG COUNTY">PINGTUNG COUNTY</option>
                    <option value="PISA">PISA</option>
                    <option value="PLS">PLS</option>
                    <option value="PONCE">PONCE</option>
                    <option value="PORT DE PAIX">PORT DE PAIX</option>
                    <option value="PORT-AU-PRINCE">PORT-AU-PRINCE</option>
                    <option value="PORTUGAL">PORTUGAL</option>
                    <option value="POTENZA">POTENZA</option>
                    <option value="PR - PUERTO RICO">PR - PUERTO RICO</option>
                    <option value="PR">PR</option>
                    <option value="PRIVATE BAG 9742">PRIVATE BAG 9742</option>
                    <option value="PUERTO RICIO">PUERTO RICIO</option>
                    <option value="PUERTO RICO (PR)">PUERTO RICO (PR)</option>
                    <option value="PUERTO RICO">PUERTO RICO</option>
                    <option value="PUERTORICO">PUERTORICO</option>
                    <option value="PUNJAB">PUNJAB</option>
                    <option value="PV">PV</option>
                    <option value="PW">PW</option>
                    <option value="PYONGTAEK">PYONGTAEK</option>
                    <option value="QATAR">QATAR</option>
                    <option value="QC">QC</option>
                    <option value="QEUEBC">QEUEBC</option>
                    <option value="QLD">QLD</option>
                    <option value="QUEBEC">QUEBEC</option>
                    <option value="QUEENSLAND">QUEENSLAND</option>
                    <option value="QUEZON CITY">QUEZON CITY</option>
                    <option value="RAJASTHAN">RAJASTHAN</option>
                    <option value="RAMAT AVIV GIMEL">RAMAT AVIV GIMEL</option>
                    <option value="RAMAT GAN">RAMAT GAN</option>
                    <option value="RAWALPINDI">RAWALPINDI</option>
                    <option value="REGGIO EMILIA">REGGIO EMILIA</option>
                    <option value="REPOF GUINEA">REPOF GUINEA</option>
                    <option value="REPUBLIC OF KOREA">REPUBLIC OF KOREA</option>
                    <option value="REPUBLIC OF PANAMA">REPUBLIC OF PANAMA</option>
                    <option value="REYKJAVIK">REYKJAVIK</option>
                    <option value="RH-PL">RH-PL</option>
                    <option value="RHEINLAND PFALZ">RHEINLAND PFALZ</option>
                    <option value="RHEINLAND PHALZ">RHEINLAND PHALZ</option>
                    <option value="RHEINLAND-PFALZ">RHEINLAND-PFALZ</option>
                    <option value="RHEINLAND-PFLAZ">RHEINLAND-PFLAZ</option>
                    <option value="RHINELAND PFALZ">RHINELAND PFALZ</option>
                    <option value="RHINELAND PFLATZ">RHINELAND PFLATZ</option>
                    <option value="RHINELAND PLAZ">RHINELAND PLAZ</option>
                    <option value="RHINELAND- PFALZ">RHINELAND- PFALZ</option>
                    <option value="RHINELAND-PFALZ">RHINELAND-PFALZ</option>
                    <option value="RHINELANDPFALZ">RHINELANDPFALZ</option>
                    <option value="RHLP">RHLP</option>
                    <option value="RHODE ISLAND">RHODE ISLAND</option>
                    <option value="RHONES ALPES">RHONES ALPES</option>
                    <option value="RI">RI</option>
                    <option value="RIFT VALLEY">RIFT VALLEY</option>
                    <option value="RIGA">RIGA</option>
                    <option value="RIO DE JANEIRO">RIO DE JANEIRO</option>
                    <option value="RIYADH PROVINCE">RIYADH PROVINCE</option>
                    <option value="RIYADH">RIYADH</option>
                    <option value="RIZAL">RIZAL</option>
                    <option value="RJ">RJ</option>
                    <option value="RLP">RLP</option>
                    <option value="RM">RM</option>
                    <option value="ROCKLAND COUNTY">ROCKLAND COUNTY</option>
                    <option value="ROGALAND">ROGALAND</option>
                    <option value="ROMANIA">ROMANIA</option>
                    <option value="ROME">ROME</option>
                    <option value="ROTA">ROTA</option>
                    <option value="ROTORUA">ROTORUA</option>
                    <option value="RP">RP</option>
                    <option value="RS">RS</option>
                    <option value="S">S</option>
                    <option value="SA">SA</option>
                    <option value="SAARLAND">SAARLAND</option>
                    <option value="SACATEPEQUEZ">SACATEPEQUEZ</option>
                    <option value="SACHSEN-ANHALT">SACHSEN-ANHALT</option>
                    <option value="SAGA">SAGA</option>
                    <option value="SAIPAN">SAIPAN</option>
                    <option value="SAITAMA">SAITAMA</option>
                    <option value="SAITAMAKEN">SAITAMAKEN</option>
                    <option value="SAN DIEGO">SAN DIEGO</option>
                    <option value="SAN JOSE">SAN JOSE</option>
                    <option value="SAN JUAN">SAN JUAN</option>
                    <option value="SAN PEDRO DE MACORIS">SAN PEDRO DE MACORIS</option>
                    <option value="SANTA CATARINA">SANTA CATARINA</option>
                    <option value="SANTA CRUZ">SANTA CRUZ</option>
                    <option value="SANTIAGO">SANTIAGO</option>
                    <option value="SANTO DOMINGO">SANTO DOMINGO</option>
                    <option value="SAO PAULO">SAO PAULO</option>
                    <option value="SAPHAN SUNG DISTRICT">SAPHAN SUNG DISTRICT</option>
                    <option value="SAR">SAR</option>
                    <option value="SARAJEVO">SARAJEVO</option>
                    <option value="SARIYER">SARIYER</option>
                    <option value="SASK">SASK</option>
                    <option value="SASKATCHEWAN">SASKATCHEWAN</option>
                    <option value="SC">SC</option>
                    <option value="SCOTLAND">SCOTLAND</option>
                    <option value="SD">SD</option>
                    <option value="SE">SE</option>
                    <option value="SELANGOR">SELANGOR</option>
                    <option value="SELTJARNARNES">SELTJARNARNES</option>
                    <option value="SEOUL">SEOUL</option>
                    <option value="SERBIA">SERBIA</option>
                    <option value="SEVILLA">SEVILLA</option>
                    <option value="SEVILLE">SEVILLE</option>
                    <option value="SG">SG</option>
                    <option value="SHANDONG">SHANDONG</option>
                    <option value="SHANGHAI">SHANGHAI</option>
                    <option value="SHARJAH">SHARJAH</option>
                    <option value="SHOUF">SHOUF</option>
                    <option value="SHUNYI">SHUNYI</option>
                    <option value="SIEM REAP">SIEM REAP</option>
                    <option value="SILOM">SILOM</option>
                    <option value="SINALOA">SINALOA</option>
                    <option value="SINDH">SINDH</option>
                    <option value="SINGAPORE">SINGAPORE</option>
                    <option value="SK">SK</option>
                    <option value="SLASK">SLASK</option>
                    <option value="SMICHOV">SMICHOV</option>
                    <option value="SMITH S">SMITH S</option>
                    <option value="SOMALIA">SOMALIA</option>
                    <option value="SONGPAGU">SONGPAGU</option>
                    <option value="SONORA">SONORA</option>
                    <option value="SOR TRONDELAG">SOR TRONDELAG</option>
                    <option value="SOUTH AMERICA">SOUTH AMERICA</option>
                    <option value="SOUTH AUSTRALIA">SOUTH AUSTRALIA</option>
                    <option value="SOUTH CAROLINA">SOUTH CAROLINA</option>
                    <option value="SOUTH DAKOTA">SOUTH DAKOTA</option>
                    <option value="SOUTH HOLLAND">SOUTH HOLLAND</option>
                    <option value="SOUTH KOREA">SOUTH KOREA</option>
                    <option value="SOUTH LEBANON">SOUTH LEBANON</option>
                    <option value="SOUTHERN PROVINCE">SOUTHERN PROVINCE</option>
                    <option value="SOUTHLAND">SOUTHLAND</option>
                    <option value="SP">SP</option>
                    <option value="SPAIN">SPAIN</option>
                    <option value="ST  CROIX">ST  CROIX</option>
                    <option value="ST  GEORGE">ST  GEORGE</option>
                    <option value="ST  JAMES">ST  JAMES</option>
                    <option value="ST  MAARTEN">ST  MAARTEN</option>
                    <option value="ST  VINCENT ISLAND">ST  VINCENT ISLAND</option>
                    <option value="ST MARY">ST MARY</option>
                    <option value="STAFFORDSHIRE">STAFFORDSHIRE</option>
                    <option value="STUTTGART">STUTTGART</option>
                    <option value="SUFFOLK">SUFFOLK</option>
                    <option value="SUMMIT">SUMMIT</option>
                    <option value="SW">SW</option>
                    <option value="SWITZERLAND">SWITZERLAND</option>
                    <option value="TAEGU">TAEGU</option>
                    <option value="TAICHUNG">TAICHUNG</option>
                    <option value="TAINAN">TAINAN</option>
                    <option value="TAIPEI">TAIPEI</option>
                    <option value="TAIWAN">TAIWAN</option>
                    <option value="TAK">TAK</option>
                    <option value="TAMAULIPAS">TAMAULIPAS</option>
                    <option value="TAMIL NADU">TAMIL NADU</option>
                    <option value="TAMILNADU">TAMILNADU</option>
                    <option value="TAMPULIPAS">TAMPULIPAS</option>
                    <option value="TAS">TAS</option>
                    <option value="TASHKENT">TASHKENT</option>
                    <option value="TASMANIA">TASMANIA</option>
                    <option value="TEKIRDAG">TEKIRDAG</option>
                    <option value="TELANGANA STATE">TELANGANA STATE</option>
                    <option value="TELANGANA">TELANGANA</option>
                    <option value="TENERIFE">TENERIFE</option>
                    <option value="TENNESSEE">TENNESSEE</option>
                    <option value="TERCEIRA">TERCEIRA</option>
                    <option value="TERNI">TERNI</option>
                    <option value="TERRITORY">TERRITORY</option>
                    <option value="TEXAS">TEXAS</option>
                    <option value="TH">TH</option>
                    <option value="THE NEGEV">THE NEGEV</option>
                    <option value="THESSALONIKI">THESSALONIKI</option>
                    <option value="TI">TI</option>
                    <option value="TIROL">TIROL</option>
                    <option value="TN">TN</option>
                    <option value="TN- TENNESSEE">TN- TENNESSEE</option>
                    <option value="TO">TO</option>
                    <option value="TOKYO">TOKYO</option>
                    <option value="TORTOLA">TORTOLA</option>
                    <option value="TRINIDAD">TRINIDAD</option>
                    <option value="TULSA">TULSA</option>
                    <option value="TURKEY">TURKEY</option>
                    <option value="TX">TX</option>
                    <option value="TX-TEXAS">TX-TEXAS</option>
                    <option value="TYNE AND WEAR">TYNE AND WEAR</option>
                    <option value="U P ">U P </option>
                    <option value="U S  VIRGIN ISLANDS">U S  VIRGIN ISLANDS</option>
                    <option value="U S ">U S </option>
                    <option value="U S A">U S A</option>
                    <option value="U S V I">U S V I</option>
                    <option value="U T">U T</option>
                    <option value="UAE">UAE</option>
                    <option value="UK">UK</option>
                    <option value="ULSTER">ULSTER</option>
                    <option value="UNITED ARAB EMIRATES">UNITED ARAB EMIRATES</option>
                    <option value="UNITED KINGDOM">UNITED KINGDOM</option>
                    <option value="UNITED STATE">UNITED STATE</option>
                    <option value="UNITED STATES OF AMERICA">UNITED STATES OF AMERICA</option>
                    <option value="UNITED STATES VIRGIN ISLANDS">UNITED STATES VIRGIN ISLANDS</option>
                    <option value="UNITED STATES">UNITED STATES</option>
                    <option value="UNK">UNK</option>
                    <option value="UNKNOWN">UNKNOWN</option>
                    <option value="US VIRGIN ISLAND">US VIRGIN ISLAND</option>
                    <option value="US VIRGIN ISLANDS">US VIRGIN ISLANDS</option>
                    <option value="US">US</option>
                    <option value="USA">USA</option>
                    <option value="USVI">USVI</option>
                    <option value="UT">UT</option>
                    <option value="UTAH">UTAH</option>
                    <option value="UTRECHT">UTRECHT</option>
                    <option value="UTTAR PRADESH">UTTAR PRADESH</option>
                    <option value="UTTRAKHAND">UTTRAKHAND</option>
                    <option value="VA">VA</option>
                    <option value="VALAIS">VALAIS</option>
                    <option value="VALENCIA">VALENCIA</option>
                    <option value="VAUD">VAUD</option>
                    <option value="VENETO">VENETO</option>
                    <option value="VI">VI</option>
                    <option value="VIC">VIC</option>
                    <option value="VICENZA">VICENZA</option>
                    <option value="VICOTRIA">VICOTRIA</option>
                    <option value="VICTORIA">VICTORIA</option>
                    <option value="VIENNA">VIENNA</option>
                    <option value="VII">VII</option>
                    <option value="VIR">VIR</option>
                    <option value="VIRGIN ISLAND">VIRGIN ISLAND</option>
                    <option value="VIRGIN ISLANDS">VIRGIN ISLANDS</option>
                    <option value="VIRGINIA">VIRGINIA</option>
                    <option value="VITACURA">VITACURA</option>
                    <option value="VOJVODINA">VOJVODINA</option>
                    <option value="VRANCEA">VRANCEA</option>
                    <option value="VT">VT</option>
                    <option value="WA">WA</option>
                    <option value="WAIKATO">WAIKATO</option>
                    <option value="WAIRARAPA">WAIRARAPA</option>
                    <option value="WARWICKSHIRE">WARWICKSHIRE</option>
                    <option value="WASHINGTON">WASHINGTON</option>
                    <option value="WAYNE">WAYNE</option>
                    <option value="WELLINGTON">WELLINGTON</option>
                    <option value="WEST BEKAA">WEST BEKAA</option>
                    <option value="WEST INDIES">WEST INDIES</option>
                    <option value="WEST MIDLANDS">WEST MIDLANDS</option>
                    <option value="WEST VIRGINIA">WEST VIRGINIA</option>
                    <option value="WESTCHESTER">WESTCHESTER</option>
                    <option value="WESTERN AUSTRALIA">WESTERN AUSTRALIA</option>
                    <option value="WESTERN">WESTERN</option>
                    <option value="WESTINDIES">WESTINDIES</option>
                    <option value="WESTMEATH">WESTMEATH</option>
                    <option value="WESTREN AREA">WESTREN AREA</option>
                    <option value="WHP">WHP</option>
                    <option value="WI">WI</option>
                    <option value="WILAYAH PERSEKUTUAN">WILAYAH PERSEKUTUAN</option>
                    <option value="WINNIPEG">WINNIPEG</option>
                    <option value="WISCONSIN">WISCONSIN</option>
                    <option value="WV">WV</option>
                    <option value="WY">WY</option>
                    <option value="XINJIANG">XINJIANG</option>
                    <option value="XX">XX</option>
                    <option value="YAMAGATA">YAMAGATA</option>
                    <option value="YAMAGUCHI">YAMAGUCHI</option>
                    <option value="YES">YES</option>
                    <option value="YOKOSUKA">YOKOSUKA</option>
                    <option value="YONGSAN">YONGSAN</option>
                    <option value="YORO">YORO</option>
                    <option value="YORUBA">YORUBA</option>
                    <option value="YREKA">YREKA</option>
                    <option value="ZA">ZA</option>
                    <option value="ZAMBALES">ZAMBALES</option>
                    <option value="ZAMBOANGA DEL SUR">ZAMBOANGA DEL SUR</option>
                    <option value="ZARAGOZA">ZARAGOZA</option>
                    <option value="ZGHARTA">ZGHARTA</option>
                    <option value="ZH">ZH</option>
                    <option value="ZONA RIO">ZONA RIO</option>
                    <option value="ZUID HOLLAND">ZUID HOLLAND</option>
                    <option value="ZZ - FOREIGN COUNTRIES">ZZ - FOREIGN COUNTRIES</option>

                </select>

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"><b>Or</b> Search By NPI Number</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="text" name="NPI" id="NPI" value="" class="form-control col-md-10" autocomplete="off">
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <table style="width:500px;margin-left:200px" >
                        <tr>
                            <td style="width:300px"><button type="submit" style="width:90%" class="btn btn-info btn-lg">&nbsp;&nbsp;&nbsp;Search&nbsp;&nbsp;&nbsp;</button></td>
                            <td><button type="button" onclick="window.location=window.location" style="width:90%" class="btn btn-info btn-lg">Reset Form</button></td>
                        </tr>
                    </table>
                    
                    
                </div>
            </div>
        </div>
    </div>
</form>