@model  List<FMBPublic.Model.Icd10SearchResponse> 
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="x_panel">
    <div class="x_title">
        <h2>Icd 10</h2>
    </div>
    <div class="x_content">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Code
                    </th>
                    <th>
                        Is header
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

